/* Normalize.scss */
/* Document-wide resets */
html {
  line-height: 1.15; /* Default line-height */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments on font size in Safari */
}

body {
  margin: 0;
}

/* HTML5 Elements */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none; /* Remove default underline */
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%; /* Ensure images are responsive */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* Use parent font settings */
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0b1117;
  color: #fff;
}

button {
  background: #19aeb7;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 56px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 44px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.pricing-page {
  background-image: linear-gradient(rgba(10, 23, 30, 0.98) 100%, rgba(10, 23, 30, 0.98) 100%), url(../images/bgscreen.jpg);
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.pricing-page__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 48px;
}
.pricing-page__subtitle {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 48px;
  color: rgba(255, 255, 255, 0.75);
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, minmax(288px, 396px));
  gap: 30px;
  justify-content: center;
  padding: 58px 30px 64px;
}
@media (max-width: 992px) {
  .pricing {
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 48px;
  }
}
.pricing__card {
  background-color: #0b1117;
  border-radius: 24px;
  padding: 40px 40px 60px 40px;
  color: #fff;
  gap: 12px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s;
  text-align: left;
}
.pricing__card .pricing__dot {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-left: auto;
  position: relative;
  margin-bottom: 12px;
}
.pricing__card .pricing__dot::after {
  content: "";
  width: 0;
  height: 0;
  top: 19px;
  left: 19px;
  background-color: transparent;
  display: block;
  position: absolute;
  border-radius: 50%;
  transition: 0.2s;
}
.pricing__card .pricing__title {
  font-size: 32px;
  margin: 0;
}
.pricing__card .pricing__subtitle {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
.pricing__card .pricing__price {
  font-size: 56px;
  font-weight: bold;
  margin: 36px 0;
}
.pricing__card .pricing__price-text {
  margin-left: -8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
.pricing__card .pricing__dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  isolation: isolate;
  height: 48px;
  border: 2px solid #19aeb7;
  backdrop-filter: blur(15px);
  border-radius: 8px;
  background-color: #0b1117;
  color: #fff;
}
.pricing__card--selected {
  background-color: rgba(25, 174, 183, 0.5019607843);
}
.pricing__card--selected .pricing__dot::after {
  top: 6px;
  left: 6px;
  width: 24px;
  height: 24px;
  background-color: #fff;
}
.pricing__card--selected .pricing__dropdown {
  background-color: rgba(25, 174, 183, 0.2509803922);
  border-color: #fff;
}
