
body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
  color: $white;
}

button {
  background: $primary-color;
  color: $white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: $button-font-size;
}

ul {
  list-style: none;
  padding: 0;
}