body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--white);
}

button {
  background: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--button-font-size);
}

ul {
  list-style: none;
  padding: 0;
}
