@use "variables";

body {
  margin: 0;
  font-family: variables.$font-family;
  background-color: variables.$background-color;
  color: variables.$white;
}

button {
  background: variables.$primary-color;
  color: variables.$white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: variables.$border-radius;
  cursor: pointer;
  font-size: variables.$button-font-size;
}

ul {
  list-style: none;
  padding: 0;
}
