@use "variables";

.pricing-page {
  background-image: linear-gradient(
      rgba(10, 23, 30, 0.98) 100%,
      rgba(10, 23, 30, 0.98) 100%
    ),
    url(../images/bgscreen.jpg);
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: repeat;
  background-size: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: variables.$font-size-h2;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 48px;
  }

  &__subtitle {
    font-size: variables.$font-size-body-lg;
    line-height: variables.$line-height-body-md;
    margin-bottom: 48px;
    color: variables.$gray-75;
  }
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, minmax(288px, 396px));
  gap: 30px;
  justify-content: center;
  padding: 58px 30px 64px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 48px;
  }

  &__card {
    background-color: variables.$background-color;
    border-radius: 24px;
    padding: 40px 40px 60px 40px;
    color: variables.$white;
    gap: 48px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s;

    .pricing__dot {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid variables.$white;
      margin-left: auto;
      position: relative;

      &::after {
        content: "";
        width: 24px;
        height: 24px;
        top: 6px;
        left: 6px;
        background-color: transparent;
        display: block;
        position: absolute;
        border-radius: 50%;
        transition: background-color 0.2s;
      }
    }

    &--selected {
      background-color: #19aeb780;

      .pricing__dot {
        &::after {
          background-color: variables.$white;
        }
      }
    }

    //  {
    //   color: variables.$primary-color;
    // }

    .pricing__price {
      font-size: variables.$font-size-h3;
      font-weight: bold;
      margin: 1rem 0;
    }
  }
}
