$font-size-h1: 56px;
$font-size-h2: 44px;
$font-size-h3: 32px;
$font-size-body-md: 16px;
$font-size-body-lg: 20px;
$font-size-body-sm: 14px;
$font-family: 'Poppins', sans-serif;

h1 {
  font-family: $font-family;
  font-weight: bold;
  font-size: $font-size-h1;
}

h2 {
  font-family: $font-family;
  font-weight: bold;
  font-size: $font-size-h2;
}

h3 {
  font-family: $font-family;
  font-weight: 600; // SemiBold
  font-size: $font-size-h3;
}

body {
  font-family: $font-family;
  font-size: $font-size-body-md;
}

button {
  font-family: $font-family;
  font-weight: bold;
  font-size: $font-size-body-md;
}