h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-size-h1);
}

h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-size-h2);
}

h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--font-size-h3);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body-md);
}

button {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-size-body-md);
}
