h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-h1);
  font-weight: 600;
}

h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-h2);
  font-weight: 600;
}

h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-h3);
  font-weight: 600;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-body-md);
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size-body-md);
  font-weight: 600;
}
